@{
    ViewBag.Title = "Contact";
}

<!DOCTYPE HTML>

<html>

<body class="is-preload">

    <!-- Header -->
    <header id="header">
        <a class="logo" href="index.html">EasyRoute</a>
        <nav>
            <a href="#menu">Menu</a>
        </nav>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href="index.html">Home</a></li>
            <li><a href="elements.html">Contact Us</a></li>

        </ul>
    </nav>

    <!-- Heading -->
    <div id="heading">
        <h1>Contact US</h1>
    </div>

    <!-- Main -->
    <section id="main" class="wrapper">
        <div class="inner">
            <div class="content">

                <!-- Elements -->
                <div class="row">
                    <div class="col-6 col-12-medium">

                        <!-- Text -->

                        <p> You want an app that helps you get your grocery shopping complete in proper working order and in a timely fashion. We can help with that and that’s why you’re here. </p>

                        <!-- Lists -->
                        <h3>FUTURE ENHANCEMENTS</h3>
                        <div class="row">
                            <div class="col-6 col-12-small">
                                <h4>Search Within</h4>
                                <ul>
                                    <li>Malls</li>
                                    <li>Stadiums and Arenas</li>
                                    <li>Amusement Parks</li>
                                    <li>Navigation</li>
                                </ul>
                                <h4></h4>
                                <ul class="alt"></ul>
                            </div>
                            <div class="col-6 col-12-small">
                                <h4>Features</h4>
                                <ol>
                                    <li>Reviews.</li>
                                    <li>Redeemable Points.</li>
                                    <li>Deals.</li>
                                    <li>Android and IOS</li>






                                </ol>
                            </div>
                        </div>
                        <h4>CONTACT US</h4>
                        <dl>
                            <dt>Email</dt>
                            <dd>
                                <p>FeedBackEasyRoute@gmail.com</p>
                            </dd>
                            <dt>Phone</dt>
                            <dd>
                                <p>1-800-456-7000</p>
                            </dd>
                            <dt></dt>
                            <dd>
                                <p></p>
                            </dd>
                        </dl>

                        <!-- Icons -->
                        <!-- Actions -->
                        <!-- Blockquote -->
                        <h2>It's a New World!</h2>
                        <blockquote>Going to the grocery can really be a hassle. Between cutting coupons and making lists, shopping for food can become a chore. Luckily, for all of us who are sick of failed and stressful trips to the store, EasyRoute app can help make our weekly trips for food a whole lot easier..</blockquote>

                        <!-- Table -->
                        <!-- Form -->
                        <h3>Sign up</h3>
                        <form method="post" action="#">
                            <div class="row gtr-uniform">
                                <div class="col-6 col-12-xsmall">
                                    <input type="text" name="name" id="name" value="" placeholder="Name" />
                                </div>
                                <div class="col-6 col-12-xsmall">
                                    <input type="email" name="email" id="email" value="" placeholder="Email" />
                                </div>
                                <!-- Break -->
                                <div class="col-12">
                                    <select name="category" id="category">
                                        <option value="">- Select -</option>
                                        <option value="alpha">UNITED STATES</option>
                                        <option value="beta">EUROPE</option>
                                        <option value="gamma">CANADA</option>


                                    </select>
                                </div>
                                <!-- Break -->
                                <div class="col-4 col-12-small">
                                    <input type="radio" id="radio-alpha" name="radio" checked>
                                    <label for="radio-alpha">ANDROID</label>
                                </div>
                                <div class="col-4 col-12-small">
                                    <input type="radio" id="radio-beta" name="radio">
                                    <label for="radio-beta">IOS</label>
                                </div>
                                <div class="col-4 col-12-small">
                                    <input type="radio" id="radio-gamma" name="radio">
                                    <label for="radio-gamma">OFFLINE</label>
                                </div>
                                <!-- Break -->

                                <li><input type="submit" value="Submit Form" class="primary" /></li>
                                <li><input type="reset" value="Reset" /></li>
                                </ul>
                            </div>
                    </div>
                    </form>

                    <!-- Image -->
                    <h3></h3>
                    <h4></h4>
                    <span class="image fit"><img src="images/pic01.png" alt="" /></span>
                    <div class="box alt">
                        <div class="row gtr-50 gtr-uniform">
                            <div class="col-4"><span class="image fit"><img src="images/pic01.png" alt="" /></span></div>
                            <div class="col-4"><span class="image fit"><img src="images/pic01.png" alt="" /></span></div>
                            <div class="col-4"><span class="image fit"><img src="images/pic01.png" alt="" /></span></div>
                            <!-- Break -->
                            <div class="col-4"><span class="image fit"><img src="images/pic01.png" alt="" /></span></div>
                            <div class="col-4"><span class="image fit"><img src="images/pic01.png" alt="" /></span></div>
                            <div class="col-4"><span class="image fit"><img src="images/pic01.png" alt="" /></span></div>
                            <!-- Break -->
                            <div class="col-4"><span class="image fit"><img src="images/pic01.png" alt="" /></span></div>
                            <div class="col-4"><span class="image fit"><img src="images/pic01.png" alt="" /></span></div>
                            <div class="col-4"><span class="image fit"><img src="images/pic01.png" alt="" /></span></div>
                        </div>
                    </div>
                    <h4>

                        <!-- Box -->
                        <h3></h3>
                        <div class="box">

                            </code></pre>

                        </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>