@{
    ViewBag.Title = "Home Page";
}

@*<!DOCTYPE HTML>*@
@*<html>

<body class="is-preload">

    <!-- Header -->
    <header id="header">
        <a class="logo" href="index.html">EasyRoute </a>
        <nav>
            <a href="#menu">Menu</a>
        </nav>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href="index.html">Home</a></li>
            <li><a href="elements.html">Contact</a></li>
            <li><a href="elements.html">About Us</a></li>
        </ul>
    </nav>*@

    <!-- Banner -->
    <section id="banner">

        <img src="~/images/test.jpg" />
    </section>

    <!-- Highlights -->
    <section class="wrapper">
        <div class="inner">
            <header class="special">
                <h2>@Html.ActionLink("EasyRoute","Index","Products")</h2>
                <p>
                    Web Based Application that allows customers to search products or services in
                    any store, with the capability to locate items much easier, allowing you to save time while
                    shopping, by letting you know exactly where to go.
                </p>
            </header>
            <div class="highlights">
                <section>
                    <div class="content">
                        <header>
                            <a href="#" class="icon fa-vcard-o"><span class="label">Icon</span></a>
                            <h3>User Friendly</h3>
                        </header>
                        <p>Simply sign up and become a memeber, and gain access to your favorite place to shop.</p>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <header>
                            <a href="#" class="icon fa-files-o"><span class="label">Icon</span></a>
                            <h3>Upload Shopping List</h3>
                        </header>
                        <p>EasyRoute allows shoppers to find products and items instantly from your personal grocery list.</p>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <header>
                            <a href="#" class="icon fa-paper-plane-o"><span class="label">Icon</span></a>
                            <h3>Home delivery</h3>
                        </header>
                        <p>Share with Friends and Family, EasyRoute customers can buy groceries anytime, anywhere and get them delivered to their doorstep..</p>
                    </div>
                </section>
                <section>
                    <divt">
                        <header>
                            <a </a>
                            <h3></h3>
                        </header>
                        <p></p>
            </div>
    </section>
    <section>

        <header>
            <a </span></a>
            <h3></h3>
        </header>
        <p></p>
        </div>
    </section>
    <section>
        <div class="content">
            <header>
                <a </span></a>

            </header>
            <p></p>
        </div>
    </section>
    </div>
    </div>
    </section>

    <section id="cta" class="wrapper">
        <div class="inner">
            <h2>Save Time Shopping</h2>
            <p>EasyRoute search narrows down the options customers are searching for, without making them guess through the catalogue descriptions. Customers can search the products by typing keywords or phrases into the search box without navigating it through the entire app. </p>
        </div>
    </section>

    <!-- Testimonials -->
    <section class="wrapper">
        <div class="inner">
            <header class="special">
                <h2>OUR MISSION</h2>
                <p>Make trips to the supermarket simple, with the EasyRoute grocery shopping app, and never worry about shopping lists again. </p>
            </header>
            <div class="testimonials">
                <section>
                    <div class="content">
                        <blockquote>
                            <p>Shopping made a breeze with this well-featured app. THANKS EasyRoute!</p>
                        </blockquote>
                        <div class="author">
                            <div class="image">
                                <img src= alt="" />
                            </div>
                            <p class="credit">- <strong>Kalissa P.</strong> <span>Stay at home Mother of two.</span></p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <blockquote>
                            <p>Having to study and go to class I dont have alot of time to spend at the supermarket. EasyRoute allows me to get what I need quick and easy. </p>
                        </blockquote>
                        <div class="author">
                            <div class="image">
                                <img src= />
                            </div>
                            <p class="credit">- <strong>Israel.</strong> <span>College Student.</span></p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <blockquote>
                            <p> My work schedule doesn't leave me much time for grocery shopping, but with EasyRoute store runs are fast and simple. .</p>
                        </blockquote>
                        <div class="author">
                            <div class=>
                                <img src= />
                            </div>
                            <p class="credit">- <strong>H. Amadi. </strong> <span>Business Woman.</span></p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>

    
  

